@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

// Fonts 
$font-family: "Lato", "Helvetica", "Arial", sans-serif;
$font-weight-default: 300;

// ---- Colors -----
$white: #fefefe;
$primary-color:#FA6942;
$primary-color-light:#FF7752;
$secondary-color:#41D2FA;
$secondary-color-light:#AFEAFA;
$secondary-color-dark:#38B6D9; 

// ---- Background -----
$background-default:#f0f0f0; // ebebeb;
$background-default-secondary:#F9F9F9;
$background-reverse:$primary-color;
$background-reverse-light:$primary-color-light;
$background-white:$white;

// ---- Text -----
$default-color:#272727;
$default-color-button:#4C4C4C;
$default-color-light:#BCBCBC;
$border:#d7d7d7;

// ---- Infos -----
$danger-color:#e51c23;
$success-color:#4caf50;
$warning-color:#ff9800;

// --- Inputs -----
$input-height:38px;
$box-size:18px;