.btn{
    position:relative;
    display:block;
    float:left;
    background: none;
    background-color:$default-color-light;
    border:none;
    color:$white;
    border-radius:5px;
    padding:8px 16px;
    margin:4px;
    transition: 0.8s;
    -webkit-user-select: none;
    outline: none;

    &:hover, &:active, &:focus{
        color:$white;
        text-decoration:none;
    }

    &:visited{
        color:$white;
        text-decoration:none;
    }
    &.btn--default{
        @include setBtn($default-color-button);
    }

    &.btn--primary{
        @include setBtn($primary-color);
    }
    &.btn--success{
        @include setBtn($success-color);
    }
    &.btn--info{
        @include setBtn($secondary-color);
    }
    &.btn--warning{
        @include setBtn($warning-color);
    }
    &.btn--danger{
        @include setBtn($danger-color);
    }
    &.btn--icon{
        @include setBtn($white);
        border:solid 1px $border;
        width:40px;
        height:36px;
        line-height:36px;
        text-align:center;
        font-size:13px;
        margin:0px 2px;
        padding:0px 2px;
        
        &.btn--main{
            border:solid 1px darken($secondary-color, 10%);
            background:$secondary-color;
        }
        &.btn--trash{
            @include setIconBtn($fa-var-trash)
        }

        &.btn--archive{
            @include setIconBtn($fa-var-archive)
        }
        
        &.btn--play{
            @include setIconBtn($fa-var-play, $white)
        }
        &.btn--users{
            @include setIconBtn($fa-var-users)
        }
        &.btn--user{
            @include setIconBtn($fa-var-user)
        }
        &.btn--unarchive{
            @include setIconBtn($fa-var-undo)
        }
        &.btn--sign-out{
            @include setIconBtn($fa-var-sign-out)
        }

        .label{
            display:none;
            position:absolute;
            top:0px;
            right:42px;
            height:28px;
            border-radius:14px;
            line-height:28px;
            padding:0px 8px;
            margin:4px 0px;
            color:white;
            font-size:13px;
            opacity:0;
            box-sizing: normal;
            background-color:$default-color;
            transition:0.5s;
        }
        
        &:hover .label:hover{
            display:none;
        }
        &.btn--danger{
            &:hover{
                border:solid 1px darken($danger-color, 10%);
                background:$danger-color;
            }
        }
        
        &:hover{
            border:solid 1px darken($primary-color, 10%);
            background:$primary-color;
            
            .label{
                display:block;
                opacity:1;
                transition:opacity 0.5s;
            }
        }
    }
}

