.btn{
    position:relative;
    display:block;
    float:left;
    background: none;
    background-color:$default-color-light;
    border:none;
    color:$white;
    border-radius:5px;
    padding:8px 16px;
    margin:4px;
    transition: 0.8s;
    -webkit-user-select: none;
    outline: none;
    
    &:hover, &:active, &:focus{
        color:$white;
        text-decoration:none;
    }
    
    &:visited{
        color:$white;
        text-decoration:none;
    }
    &.btn--default{
        @include setBtn($default-color-light);
    }
    
    &.btn--primary{
        @include setBtn($primary-color);
    }
    &.btn--success{
        @include setBtn($success-color);
    }
    &.btn--info{
        @include setBtn($secondary-color);
    }
    &.btn--warning{
        @include setBtn($warning-color);
    }
    &.btn--danger{
        @include setBtn($danger-color);
    }
}

