.card{
    @include material-shadow();
    width:100%;
    height:240px;
    margin:0p 16px;
    background:$white;
    border-radius:2px;
}

.card--col4{
    @extend .card;
    @include make-lg-column(4);
    transition:0.5s;
}

.card--col8{
    @extend .card;
    @include make-lg-column(8);
    transition-delay: 5s;
    transition:0.5s;
}