.input--text{
    @include make-row(0);
    margin:4px 0px;
}


.input--disabled input:hover{
    cursor:text;
}

.input--warning input{
    color:$warning-color;
}

.input--warning label:after{
    display:block;
    position:absolute;
    width:18px;
    height:18px;
    font-size:18px;
    right:16px;
    top:48px;
    font-family:FontAwesome;
    color:$warning-color;
    content:$fa-var-exclamation-triangle;
}

.input--warning input:focus{
    color:$default-color;
}

.input--danger label:after{
    display:block;
    position:absolute;
    width:18px;
    height:18px;
    font-size:18px;
    right:16px;
    top:48px;
    font-family:FontAwesome;
    color:$danger-color;
    content:$fa-var-exclamation-circle;
}


.input--danger input{
    color:$danger-color;
}

.input--success label:after{
    display:block;
    position:absolute;
    width:18px;
    height:18px;
    font-size:18px;
    right:16px;
    top:48px;
    font-family:FontAwesome;
    color:$success-color;
    content:$fa-var-check;
}

.input--success input{
    color:$success-color;
}
.input--submit{
    display:block;
    position:relative;
    @include make-md-column-offset(8);
    @include make-md-column(4, 8px);
    margin-top:2px;
}

.input--select{
    display:block;
    position:relative;
    border:solid 1px $border;
    border-radius:5px;
    &:after{
        display:block;
        position:absolute;
        top:0px;
        width:16px;
        height:16px;
        font-size:14px;
        line-height: 16px;
        right:0px;
        margin:10px 8px;
        color:$border;
        font-family:"FontAwesome";
        content:$fa-var-sort;
    }
}

.input--warning input:focus, .input--danger input:focus, .input--success input:focus{
    color:$default-color;
}
