.partial{
    display:block;
    position:relative;
    &.partial--menu{
        width:100%;
        height:56px;
        margin:0px;
        padding:0px;
        border-top:solid 7px $primary-color;
        border-bottom:solid 1px $border;
        background:$white;
        
        .partial--menu__workspaces{
            float:left;
            margin:4px 0px 4px 8px;
            i{
                display:block;
                position:relative;
                padding:10px;
                font-size:21px;
            }
        }
        
        .partial--menu__action{
            float:right;
            height:48px;
            padding:4px 12px;
            margin:0px;
            list-style-type: none;
            > *{
                float:left;
            }
        }
    }

    &.partial--workspace{
        padding-top:72px;
    }

    &.partial--create-session{
        @include make-md-column(4);
        @include make-md-column-offset(0);
    }
    &.partial--newest-sessions{
        @include make-md-column(6);
        @include make-md-column-offset(2);

    }
    &.partial--join-session{
        @include make-md-column(4);
        @include make-md-column-offset(0);
    }
    &.partial--newest-session{
        @include make-md-column(6);
        @include make-md-column-offset(1);
    }

}