%initIconBtn{
    width:32px;
    height:32px;
    margin:4px;

    &:after{
        display:block;
        position:absolute;
        left:0px;
        top:0px;
        width:32px;
        height:32px;
        line-height:32px;
        text-align:center;
        font-family:"FontAwesome";
        font-weight:normal;
    }
    &:hover{
        width:32px;
        border-radius:16px;
        opacity:0.8;
    }
}

@mixin setBtn($base-color){
    background-color:$base-color;
    &:hover, &:active &:focus{
        background-color:darken($base-color, 15%);
    }
    &.btn--disabled{
        background-color:lighten($base-color, 20%);
        cursor:default;
    }
}

@mixin setIconBtn($icon, $clr:$default-color, $clrHover:$white, $iconSize:16px){
    background-color:$white;
    border:solid 1px $white;
    
    &:after{
        font-size:$iconSize;
        color:$clr;
        content:$icon;
    }
    
    &:hover{
        border:solid 1px darken($clr, 10%);
        background:$clr;
        &:after{
            color:$clrHover;
        }
    }
}
